#accounts {
    width: 100%;
}

.list {
    width: 68%;
    margin: 0 auto;
}

.row,
.row-head {
    margin: 0 auto;
    height: 33px;
    border-style: solid;
    border-color: #b4d0dc;
    border-width: 0 1px 1px 1px;
    cursor: pointer;
    font-size: 0;
}

.row-head {
    border-top: 1px solid #b4d0dc;
    border-radius: 3px 3px 0 0 ;
    font-weight: bold;
}

.row:last-child {
    border-radius: 0 0 3px 3px;
}

.row:nth-child(2n) {
    background-color: #f2faf9;
}

.row:hover {
    background-color: #e5f8f6;
}

.col {
    height: 33px;
    display: inline-block;
    border-right: 1px solid #b4d0dc;
    line-height: 33px;
    text-align: center;
    vertical-align: top;
    color: #555;
    font-size: 13px;
}

.col:last-child {
    border-right: 0;
}

.col[data-column="index"] {
    width: 9%;
}

.col[data-column="account"] {
    width: 30%;
}

.col[data-column="passwd"] {
    width: 30%;
}

.col[data-column="time"] {
    width: 30%;
}
