- posts.forEach(function(post, index) {
    .panel.panel-default
        .panel-heading
            a.text-muted(href='post/#{post.id}') #{post.title}
            ul.list-inline.pull-right
                li.text-muted #{post.created}
                li
                    a(href='#') share
        .panel-body.post-body #{post.content}
- })