extends layout

block csses
    link(rel='stylesheet', href='/stylesheets/jquery.Jcrop.min.css')

block content
    .container-fluid
        .row
            .col-md-5.col-md-offset-3
                .setting-item
                    .setting-item-head
                        strong 个人资料
                    .setting-item-body.row
                        .col-md-3
                            .avatar-area
                                - if (locals.currentUser.avatar)
                                    img.img-rounded#pretend-avatar-upload(src='#{locals.currentUser.avatar}' title='点击更换头像')
                                - else
                                    img.img-rounded#pretend-avatar-upload(src='/images/avatar.png' title='点击更换头像')
                            .avatar-btn
                                input#actual-avatar-upload.hidden(type='file' name='avatar')
                        .col-md-9
                            form.form-horizontal
                                div.form-group
                                    label.col-sm-2.control-label 昵称
                                    .col-sm-8
                                        input.form-control(name='nick' type='text' value='#{locals.currentUser.nick}' disabled)
                                        .form-notice.text-warning 暂时不支持修改昵称
                                div.form-group
                                    label.col-sm-2.control-label 性别
                                    .col-sm-8
                                        .checkbox
                                            label
                                                input(type='radio' name='gender' value='1')
                                                |  男
                                            label
                                                input(type='radio' name='gender' value='2')
                                                |  女
                                            label
                                                input(type='radio' name='gender' value='0')
                                                |  保密
                                div.form-group
                                    label.col-sm-2.control-label 生日
                                    .col-sm-8
                                        input.form-control(name='birthday' type='date')
                                div.form-group
                                    label.col-sm-2.control-label 城市
                                    .col-sm-8
                                        input.form-control(name='city' type='text' placeholder='如：上海市')
                                div.form-group
                                    label.col-sm-2.control-label 邮寄地址
                                    .col-sm-8
                                        input.form-control(name='address' type='text')
                                div.form-group
                                    label.col-sm-2.control-label 个人介绍
                                    .col-sm-8
                                        textarea.form-control(name='intro' rows='6')
                                div.form-group
                                    .col-sm-1.col-sm-offset-7
                                        button.btn.btn-primary 确认修改
                .setting-item
                    .setting-item-head
                        strong 密码修改
                    .setting-item-body.row
                        .col-md-9.col-md-offset-3
                            form.form-horizontal
                                div.form-group
                                    label.col-sm-2.control-label 当前密码
                                    .col-sm-8
                                        input.form-control(name='old_password' type='password')
                                div.form-group
                                    label.col-sm-2.control-label 新密码
                                    .col-sm-8
                                        input.form-control(name='new_password' type='password')
                                div.form-group
                                    label.col-sm-2.control-label 确认密码
                                    .col-sm-8
                                        input.form-control(name='new_password_confirm' type='password')
                                div.form-group
                                    .col-sm-1.col-sm-offset-7
                                        button.btn.btn-primary 确认修改
            .col-md-3.basic-col-md
                include right_area
            .modal.fade#js-avatar-select-area
                .modal-dialog.modal-lg
                    .modal-content
                        .modal-header
                            .modal-title 选择图像区域
                        .modal-body.avatar-show-area
                            img#avatar-selector
                        .modal-footer
                            button.btn.btn-default(type='button' data-dismiss='modal') 取消
                            button.btn.btn-warning#submit-avatar-select(type='button') 确定上传
block scripts
    script(data-module='account')