.row#js-edit-post.hidden
    .col-md-6.col-md-offset-3.edit-post
        .edit-post-head
            ul.list-inline.pull-right
                li
                    a(href='javascript:;').text-muted.js-resize-edit-panel 全屏
                li
                    a(href='javascript:;').text-muted.js-close-edit-panel 关闭
        .edit-post-body