.navbar.navbar-default.navbar-fixed-top
    .container-fluid.header
        .navbar-header
            a.navbar-brand(href='/') 知行
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='#') 专栏
            ul.nav.navbar-nav.navbar-right
                li.js-navbar-dropdown-area
                    - if (locals.currentUser)
                        a(href='javascript:;').js-navbar-toggle #{locals.currentUser.nick}
                        .navbar-dropdown-panel
                            .navbar-dropdown-body
                                a(href='/posts/list/#{locals.currentUser.id}').navbar-dropdown-item.text-white 我的文章
                                a(href='javascript:;').navbar-dropdown-item.text-white 我的专栏
                                a(href='/users/logout').navbar-dropdown-item.text-white 注销
                    - else
                        a(href='/users/login') 登录