.navbar.navbar-default.navbar-fixed-top
    .container-fluid.header
        .navbar-header
            a.navbar-brand(href='/') LncWwn
        ul.nav.navbar-nav.navbar-right
            li
                - if (locals.currentUser)
                    a.js-navbar-toggle(href='javascript:;') #{locals.currentUser.nick}
                        span.caret
                    .navbar-dropdown-panel
                - else
                    a(href='/users/login') 登录