.navbar.navbar-default.navbar-fixed-top
    .container-fluid.header
        .navbar-header
            a.navbar-brand(href='/') 知行
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='#')
                        strong 专栏
                li
                    a(href='#')
                        strong 活动
            ul.nav.navbar-nav.navbar-right
                    - if (locals.currentUser)
                        li.js-navbar-dropdown-area
                            a(href='javascript:;').js-navbar-toggle
                                strong #{locals.currentUser.nick} &nbsp;&nbsp;
                                - if (locals.currentUser.avatar)
                                    img.user-avatar-md(src='#{locals.currentUser.avatar}')
                                - else
                                    img.user-avatar-md(src='/images/avatar.png')
                            .navbar-dropdown-panel
                                .navbar-dropdown-body
                                    a(href='javascript:;').navbar-dropdown-item.text-white#js-edit-post-link 写文章
                                    a(href='/users/account').navbar-dropdown-item.text-white 账户设置
                                    a(href='/users/logout').navbar-dropdown-item.text-white 注销
                    - else
                        li.js-navbar-dropdown-area
                            a(href='/users/login') 登录