.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            a.navbar-brand(href='/') 痕迹
        ul.nav.navbar-nav.navbar-right
            li
                - if (locals.currentUser)
                    a(href='/users/#{locals.currentUser.id}') #{locals.currentUser.nick}
                        span.caret
                - else
                    a(href='/users/login') 登录