.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            a.navbar-brand(href='/') 痕迹
        ul.nav.navbar-nav.navbar-right
            li
                a(href='/users/login') 登录