doctype html
html
    head
        title
            | #{locals.appName}
            | |#{title}
            | [读万卷书，行万里路]
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .container-fluid
            include header
            block content
        include footer
        - if (locals.currentUser) {
            .hidden#js-current-user(data-current-user='#{locals.currentUser.id}')
        - }
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/javascripts/app.js')