doctype html
html
    head
        title
            | #{locals.appName}
            | |#{title}
            | [读万卷书，行万里路]
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/simditor/styles/simditor.css')
    body
        .container-fluid
            include header
            block content
            include edit_post
        include footer
        - if (locals.currentUser) {
            .hidden#js-current-user(data-current-user='#{locals.currentUser.id}')
        - }
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/simple-module/lib/module.js')
    script(src='/simple-hotkeys/lib/hotkeys.js')
    script(src='/simple-uploader/lib/uploader.js')
    script(src='/simditor/lib/simditor.js')
    script(src='/javascripts/app.js')