extends layout

block content
    .col-md-8.col-md-offset-2
        .col-md-10
            include _posts
        .col-md-2.sidebar.hidden-sm
            .panel.panel-default
                .panel-heading welcome
                .panel-body wdsfdsfdf