extends layout

block content
    .container-fluid
        .col-md-7.col-md-offset-1
            include _posts
        .col-md-3.basic-col-md
            .col-md-7.sidebar.basic-col-md.hidden-sm
                .panel.panel-default
                    .panel-heading 当前登录
                    .panel-body wdsfdsfdf