extends layout

block content
    .col-md-8.col-md-offset-1
        include _posts
    .col-md-3.basic-col-md
        .col-md-7.sidebar.basic-col-md.hidden-sm
            .panel.panel-default
                .panel-heading welcome
                .panel-body wdsfdsfdf