.col-md-8.col-md-offset-2
    .col-md-10
        .panel.panel-default
            .panel-heading
                a.text-muted(href='#') This is my first post
            .panel-body fsfdfdfdfdfdfdf

    .col-md-2.sidebar
        .panel.panel-default
            .panel-heading welcome
            .panel-body wdsfdsfdf