extends layout

block content
    .container-fluid
        .main
            .main-left
                .col-md-11
                    include _posts
            .main-right
                .col-md-10.col-md-offset-2.basic-col-md
                    include right_area
block scripts
    script(data-module='posts')