.col-md-12.sidebar.basic-col-md.right-area.hidden-sm
    - if (locals.currentUser)
        .panel.panel-default
            .panel-body #{locals.currentUser.nick}
    - else
        .panel.panel-default
            .panel-body empty
    .about-area
        ul.list-inline
            li
                a.text-muted(href='#') 建议反馈
            li
                a.text-muted(href='#') 知识共享
            li
                a.text-muted(href='#') 关于知行