.col-md-7.sidebar.basic-col-md.right-area.hidden-sm
    - if (locals.currentUser)
        .panel.panel-default
            .panel-body #{locals.currentUser.nick}
    - else
        .panel.panel-default
            .panel-body lllll