.row.hidden#js-warning-panel
    .alert.alert-warning.alert-dismissible.waring-panel
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
        strong Oh！&nbsp;&nbsp;
        span 爱知识爱旅行的您怎么能够容忍上古时期的浏览器呢？&nbsp;&nbsp;
            a.alert-link(href='http://browsehappy.com/' target='_blank') 快来升级