html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 78px 0 0;
    font: 14px "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Tahoma, Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #666;
    margin-bottom: 160px;
}

textarea {
    resize: none;
}

.header,
.main {
    width: 60%;
    margin: 0 auto;
}

.main {
    padding: 0 10px;
}

.main-left {
    width: 70%;
    float: left;
}

.main-right {
    width: 30%;
    float: right;
}

.navbar-default {
    background-color: #006699;
    border-color: #006699;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default a:hover,
.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.input-group {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-top: 2px;
}

.js-navbar-toggle {
    z-index: 100;
}

.navbar-dropdown-panel {
    width: 123px;
    position: absolute;
    top: 0;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 0 6px #094161;
    background-color: #006699;
    display: none;
}

.navbar-dropdown-body {
    margin-top: 50px;
    padding: 6px 0 16px 0;
    border-top: 1px solid #235b65;
}

.navbar-dropdown-item {
    width: 100%;
    height: 33px;
    display: inline-block;
    text-align: center;
    line-height: 33px;
    border-bottom: 1px solid #235b65;
}

.navbar-dropdown-item:last-child {
    border-bottom: none;
}

::selection {
    background-color: #e1e8e5;
    color: #093850;
}

.text-white {
    color: #fff;
}

.waring-panel {
    width: 100%;
    text-align: center;
    border-radius: 0;
    top: 50px;
    position: fixed;
    z-index: 10;
}

.basic-col-md {
    padding-left: 0;
    padding-right: 0;
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.right-area {
    margin: 36px 0 0 26px;
}

.post-head {
    width: 100%;
    height: 30px;
}

.post-body {
    width: 100%;
    margin-bottom: 45px;
    padding-bottom: 6px;
    line-height: 21px;
    border-bottom: 1px solid #eee;
    /*text-indent: 1em;*/
}

.post-body p {
    margin-bottom: 3px;
    line-height: 1.7em;
}

.post-summary {
    cursor: pointer;
}

.hover-link:hover {
    box-shadow: 0 0 6px #b1d3f1;
    background-color: #b1d3f1;
}

.post-interact-btn-area {
    width: 100%;
    height: 20px;
    padding: 0 18px;
    text-align: right;
}

.post-interact-btn {
    margin-left: 10px;
    font-size: 12px;
    color: #a9a4a4;
}

.login-panel {
    margin-top: 136px;
}

.post-interactive {
    width: 39px;
    height: 66px;
    margin-top: 36px;
    cursor: pointer;
    color: #5e9cbf;
}

.post-assent {
    width: 100%;
    height: 60%;
    padding: 5px;
    border-radius: 3px 3px 0 0;
    background-color: #d3ebf5;
    text-align: center;
}

.post-oppose {
    width: 100%;
    height: 36%;
    margin-top: 5px;
    padding: 5px;
    border-radius: 0 0 3px 3px;
    background-color: #d3ebf5;
    text-align: center;
}

.post-assent:hover,
.post-oppose:hover {
    color: #fff;
    background-color: #5e9cbf;
}

.post-assent-info {
    width: 100%;
    height: 38%;
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
    background-color: #d3ebf5;
    text-align: center;
    cursor: default;
}

.edit-post {
    min-height: 450px;
    position: absolute;
    z-index: 100;
    top: 10%;
    border: 1px solid #dee4e6;
    border-radius: 3px;
    box-shadow: 0 0 6px #dee4e6;
    background-color: #fff;
}

.edit-post-head {
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding-top: 10px;
}

.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #c6e2f1;
    opacity: .3;
}

.footer {
    width: 100%;
    height: 123px;
    position: absolute;
    bottom: 0;
    margin-top: 26px;
    padding-top: 10px;
    text-align: center;
    border-top: 6px solid #0099cc;
    background-color: #006699;
}

/******************************* header ***************************************/

.user-avatar-md {
    width: 25px;
    height: 25px;
    border-radius: 3px;
}

/****************************** right area ***********************************/

.about-area {
    width: 100%;
    height: 100px;
    padding: 6px;
    font-size: 13px;
    border-top: 1px solid #eee;
}

/******************************* single post **********************************/

#single-post .post-body p {
    font-size: 16px;
}

.post-head-area {
    width: 100%;
    height: 126px;
    margin: -27px 0 26px 0;
    padding-top: 26px;
    position: relative;
    border-radius: 0;
    color: #555;
    background-color: #f1f7f4;
}

.post-info-basic {
    height: 30px;
    padding-left: 16px;
    line-height: 30px;
}

.post-info-btn {
    margin-top: 10px;
}

/******************************* setting page *********************************/

.setting-item {
    width: 100%;
}

.setting-item-head {
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
    padding: 0 10px;
    line-height: 45px;
    border-bottom: 2px solid #eee;
}

.setting-item-body {
    padding-top: 18px;
}

.avatar-area>img {
    width: 168px;
    height: 168px;
    border: 2px solid #eee;
    box-shadow: 0 0 6px #000;
    cursor: pointer;
}

.avatar-btn {
    width: 100%;
    margin-top: 10px;
}

.form-notice {
    width: 100%;
    height: 26px;
    padding-top: 6px;
}

.avatar-show-area {
    text-align: center;
    overflow: hidden;
}

.avatar-jcrop {
    max-height: 500px;
    margin: 0 auto;
}

