body {
    padding: 78px;
    font: 14px Helvetica, Arial, sans-serif;
    background-color: #E0F6F5;
}

a {
    color: #00B7FF;
}

.navbar-default {
    background-color: #356E8F;
    border-color: #356E8F;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.jumbotron {
    background-color: #fff;
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
}
